@using IDispatcher = Microsoft.Maui.Dispatching.IDispatcher
@inherits LayoutComponentBase
@inject IDispatcher Dispatcher

<div class="page">
 
    <main>
      
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
