@using Common
@inject IDispatcher Dispatcher


<div class="pong-game">
    <img alt="pong game" src="@GameState.GameSvg"/>
</div>

@code{

    [Parameter]
    public required PongGameState GameState { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine(GameState);
        base.OnInitialized();
    }

}